doctype html
html
   head(lang="en")
      meta(charset='UTF-8')
      link(rel='stylesheet', href='/styles/style.css')
      script(src='/js/converter.js')
   body
       form(action="/convert", method="POST")
           textarea#converterTextField(type="text", name="text")
           input(type="submit", value="send")
       //textarea#converterTextField
       //button(id=converterSubmitButton, onclick="submit()") submit