doctype html
html(onclick="hideAllDropdownLists(event)")
    head(lang="en")
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/styles/style.css')
        script(src='/js/script.js')
        script(src='/js/clientSaver.js')
    body
        #mainWrapper
            //keyCodeSave()
            block content
