doctype html
html
   head(lang="en")
      meta(charset='UTF-8')
      link(rel='stylesheet', href='/styles/style.css')
      script(src='/js/converter.js')
   body(onload= "setService('#{service}', '#{data}')")
       form.converterForm#converterForm(action="/converter", method="POST", onsubmit="submit()")
           textarea#converterTextField(type="text", name="text")
           .converterSettingsWrapper
               input#listItemId_Checkbox(type="checkbox")
               label(for="listItemId_Checkbox") Перезаписать данные
               br
               .servicesBtns
                    p.topItemWrapper Сервис
                    p
                        input#serviceNameRadioButton_ndfl(type="radio", name="service", value="Ndfl")
                        |НДФЛ
                    p
                        input#serviceNameRadioButton_fss(type="radio", name="service", value="Fss")
                        |ФСС
                    p
                        input#serviceNameRadioButton_pfr(type="radio", name="service", value="Pfr")
                        |ПФР
                    p
                        input#serviceNameRadioButton_kopf(type="radio", name="service", value="Kopf")
                        |КОПФ
                    p
                        input#serviceNameRadioButton_fms(type="radio", name="service", value="Fms")
                        |ФМС
                    p
                        input#serviceNameRadioButton_test(type="radio", name="service", value="Test")
                        |Тестовый
                input.sendButton(type="button", value="send", onclick="validate()")
               .templateWrapper(title="Кликни, чтобы скопировать")
               p Шаблон элемента списка
               pre.template
|{
|"name": "Элемент списка",
|"id": "id299518b4-a86e-4019-0c81-c1c059813117",
|"isDone": false,
|"comment": "",
|"priority": 0,
|"weight": {
|"done": 0,
|"all": 1
|}
|}