doctype html
html
   head(lang="en")
      meta(charset='UTF-8')
      link(rel='stylesheet', href='/styles/style.css')
   body
       a(href="/") На главную
       textarea#converterTextField(type="text", name="text", value=data)