doctype html
html
   head(lang="en")
      meta(charset='UTF-8')
      link(rel='stylesheet', href='/styles/style.css')
      script(src='/js/converter.js')
      script(src='/js/settings.js')
      mixin loadServices()
        each item in services
            -var id = item.id
            -var name  = item.name
            p
                input(type="radio", id="serviceNameRadioButton_" + id, name="service", value=id)
                | #{name}
   body(onload= "setService('#{currentService}', '#{data}')")
       form.converterForm#converterForm(action="/converter", method="POST", onsubmit="submit()")
           textarea#converterTextField(type="text", name="text")
           .converterSettingsWrapper
               input#listItemId_Checkbox(type="checkbox", onchange="resetServiceInConverter()")
               label(for="listItemId_Checkbox") Перезаписать данные
               br
               .servicesBtns
                    p.topItemWrapper Сервис
                        +loadServices()
                input.sendButton(type="button", value="send", onclick="validate()")
               .templateWrapper(title="Кликни, чтобы скопировать")
               p Шаблон элемента списка
               pre.template
|{
|"name": "Элемент списка",
|"id": "id299518b4-a86e-4019-0c81-c1c059813117",
|"isDone": false,
|"comment": "",
|"priority": 0,
|"weight": {
|"done": 0,
|"all": 1
|}
|}