doctype html
html
   head(lang="en")
      meta(charset='UTF-8')
      link(rel='stylesheet', href='/styles/style.css')
      script(src='/js/converter.js')
   body
       form.converterForm(action="/converter", method="POST")
           textarea#converterTextField(type="text", name="text")
           .converterSettingsWrapper
               input#listItemId_Checkbox(type="checkbox")
               label(for="listItemId_Checkbox") Перезаписать существующие данные?
               br
               .servicesBtns
                    p.topItemWrapper Сервис
                    p
                        input(type="radio", name="service", value="Ndfl")
                        |НДФЛ
                    p
                        input(type="radio", name="service", value="Ndfl")
                        |НДФЛ
                    p
                        input(type="radio", name="service", value="Fss")
                        |ФСС
                    p
                        input(type="radio", name="service", value="Pfr")
                        |ПФР
                    p
                        input(type="radio", name="service", value="Kopf")
                        |КОПФ
                    p
                        input(type="radio", name="service", value="Fms")
                        |ФМС
                input.sendButton(type="submit", value="send")