doctype html
html
  head(lang="en")
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/styles/style.css')
  body
    .errorInformationWrapper
      div.errorImage
      p.errorMessage
        span.h1 Ошибка
        br
        br
        span.h2= message
        br
        span.h2= error.status
        br
        span.p = #{error.stack}