doctype html
html
   head(lang="en")
       meta(charset='UTF-8')
       script(src='/js/start.js')
   body
       each item in servicesNames
           div
           a(href='/start?'+item.code) #{item.name}
       br
       a(href='/converter') Конвертер    